@componentsPath: "../bower_components";
@import "@{componentsPath}/bootstrap/less/bootstrap.less";
@import "@{componentsPath}/font-awesome/less/font-awesome.less";
@import "overrides";

.tip {
  .alert;
  .alert-info;
}

@note-bg: #ffffa5; // PostIt color
@note-border: darken(spin(@note-bg, -10), 5%);
@note-text: @text-color;

.note {
  .alert;
  .alert-variant(@note-bg; @note-border; @note-text);
  a {
    color: @note-text;
  }
}

@import "todo/todo";
