.jumbotron
  :markdown
    Love protyping with Angulars front-end and REST APIs?

    Start a project in a minute with this **kewl** [brunch](http://brunch.io) app skeleton:

        brunch new gh:davinov/kewl [name-of-your-app]
        cd [name-of-your-app]
        npm start

  a.btn.btn-primary.btn-lg.pull-right(href='http://localhost:3333')
    i.icon.icon-forward
    |  then go to http://localhost:3333

.lead
  :markdown
    Learn more about how it's built by following the [walkthrough](#/walkthrough).

footer
  :markdown
    by [@davinov](http://david.nowinsky.net) with love of [AngularJS](http://angularjs.org), [Brunch](http://brunch.io),
    [Bootstrap](http://getbootstrap.com/), [Express](http://expressjs.com/), [CoffeeScript](coffeescript.org) and a lot
    of other cool stuff

    based on [@vbrajon](http://vbrajon.fr)'s [brunch skeleton](https://github.com/vbrajon/brunch-skeleton)
