!!! 5
html(lang='en', data-ng-app='skeleton')
    head
        title Brunch Skeleton
        link(rel='stylesheet', href='css/app.css')
        link(rel='icon', type='image/x-icon', href='favicon.ico')
        meta(charset='utf-8')
    body
        .navbar.navbar-default
            .container
                a.navbar-brand(href='/') Brunch Skeleton

        main.container(data-ng-view)

        :coffeescript
            window.onload = -> console.log Object.keys(window)
        script(src='js/vendor.js')
        script(src='js/partials.js')
        script(src='js/app.js')
